html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    overflow-y: hidden;
    overflow-x: hidden;
}

//  ======= NAVBAR ========== //

.navBar{
    position: relative;
    background-color: lightgray;
    width: 110vw;
    height: 7rem;
    bottom: 20px;
    right: 20px;
    .logoContainer{
        width: 10rem;
        height: 5rem;
        position: relative;
        left: 5rem;
        img{
            width: 150px;
            height: 150px;
            position: relative;
            bottom: 10px;
        //    filter: brightness(100%) invert(100%);
        }
    }

    // GO BACK CONTAINER //

    .gobackContainer{
        width: 10rem;
        display: inline-flex;
        position: relative;
        left: 72rem;
        bottom: 3rem;
        border-radius: 7px;
        background-color: white;
        &:hover{
            background-color: purple;
            cursor: pointer;
       
            img{
                filter: brightness(100%) invert(100%);
            }
        }
       
        h3{
            font-family: sans-serif;
            padding-right: 20px;
            padding-left: 20px;
        }
        img{
            width: 30px;
            height: 30px;
            position: relative;
            top: 15px;
        }
    }
  
}
a{

    text-decoration: none;
    color: black;
    font-size: medium;
    &:hover{
        color: white;
    }
}

// ======= TABLE CONTAINER ======= //

.tableContainer::-webkit-scrollbar{
    width: 1px;
    background-color: lightgray;
    border-radius: 24px;
}

.tableContainer::-webkit-scrollbar-thumb{
    width: 1px;
    background-color: purple;
    border-radius: 24px;
}

.tableContainer{
    height: 25rem;
    width: 50rem;
    position: relative;
    left: 32rem;
    border-radius: 7px;
    bottom: 15rem;
    overflow-y: scroll;
    overflow-x: hidden;
    table{
        font-family: sans-serif;
        border-radius: 7px;
        width: 50rem;
        height: 5rem;

    }
    th{
        width: 10rem;
        height: 2rem;
        border-radius: 7px;
        background-color: lightgray;
        color: purple;
    }
    td{
        width: 10rem;
        padding-left: 35px;
        position: relative;

    }
    form{
        button{
            right: 7px;
            border-radius: 7px;
            position: relative;
            padding-top: 2px;  
            height: 2rem;
            width: 5rem;
            background-color: purple;
            color: white;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

// ============ MIDDLE CONTENT ============ //

.middleContent{
    width: 25rem;
    position: relative;
    left: 30px;
    top: 5rem;
    h3{
        font-family: sans-serif;
        padding-left: 80px;
    }
    .middleContentImgContainer{
        padding-left: 80px;
       
        img{
            width: 150px;
            height: 150px;
        }
    }
    p{
        font-family: sans-serif;
        color: purple;
        padding-left: 80px;
        span{
            font-weight: bold;
        }
        a{
            text-decoration: none;
            color: purple;
            span{
                font-weight: bold;
            }
        }
    }
}

// ============ CART EMPTY ========== //

P.cartEmpty{
    font-family: sans-serif;
    position: relative;
    left: 50rem;
    bottom: 50px;
}